:root {
	--color-background: hsl(156, 24%, 96%);
	--color-card: hsl(60, 100%, 100%);
	--color-heading: hsl(172, 100%, 14%);
	--color-paragpraph: hsl(175, 13%, 32%);
	--color-highlight: hsl(338, 56%, 50%);
}
