---
import Html from '../components/html.astro';

export const prerender = true;
---

<Html>
	<section class='space-y-2 text-center'>
		<h1 class='font-semibold text-heading text-3xl'>Tidak ditemukan</h1>
		<p class='text-xl'>
			Halaman yang Anda cari tidak ditemukan. Silakan kembali ke <a href='/'>halaman utama</a>.
		</p>
	</section>
</Html>
